<div class="about-content">
  <div class="transbox">

    <p>Please register with Handicap Free</p>

    <div class="wrapper">
      <div class="content-main">
        <div class="row">
          <div class="login-box">
            <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>

              <div class="form-group">
                <%= f.label :first_name, {class: "col-sm-4 control-label"} %>
                <div class="col-sm-6">
                  <%= f.text_field :first_name, {class: "form-control"} %>
                </div>
              </div>


              <div class="form-group">
                <%= f.label :last_name, {class: "col-sm-4 control-label"} %>
                <div class="col-sm-6">
                  <%= f.text_field :last_name, {class: "form-control"} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email, {class: "col-sm-4 control-label"} %>
                <div class="col-sm-6">
                  <%= f.email_field :email, {class: "form-control"} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, {class: "col-sm-4 control-label"} %>
                <div class="col-sm-6">
                  <%= f.password_field :password, {class: "form-control"} %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                  <%= f.submit "Register", :class => "btn btn-primary" %>
                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>