<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>Handicap</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="logo-container">
  <div class="logo">
    <!-- logo -->
  </div>
</div>

<!--<ul class="nav nav-pills">-->
  <!--<li class="active"><a href="#">Home</a></li>-->
  <!--<li><a href="#">Profile</a></li>-->
  <!--<li><a href="#">Messages</a></li>-->
<!--</ul>-->
<div class="nav">

  <nav>

    <div id="home"><%= link_to 'Home', handicap_index_path %> &nbsp; &nbsp;</div>
    <div id="about"><%= link_to 'About', about_path %> &nbsp; &nbsp;</div>
    <div id="login"><%= link_to 'Login', login_index_path %> </div>
    &nbsp; &nbsp;
    <div id="login"><%= link_to 'Register', new_user_path %> </div>
  </nav>
</div>
<div id="background">
  <%= yield %>
</div>
</body>
</html>